<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Other head elements go here -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px;
    /* Adjust as needed for spacing between items */
  }

  .m li:hover {
    color: white;
    background-color: red;
    /* Change background color on hover, if desired */
    cursor: pointer;
    /* Optional: Change the cursor on hover */
  }

  .f1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .f2 {
    margin-right: 10px;
    border: 1px solid black;
  }
</style>
<div id='app'>

  <form method="post" action="{{url_for('forget_update')}}" >
   
      <input type="text" placeholder="輸入電話或mail"  name='TEL' /><br>
    
      <label id="v_container" class="col-2 offset-1 col-form-label" style="width: 100px;height: 100px;">
        <!-- <div  style="width: 100px;height: 50px;"></div> -->
    </label><br>
      <input type="text"  id="code_input" value="" placeholder="輸入驗證碼" required />


    <br>

    <input type="submit" @click="submitRegistration" name="Button_Query0" value="送出" class="btn btn-primary"></span>
  </form>
</div>
<script>
  var app = new Vue({
    el: "#app",
    delimiters: ['${', '}}'],
    data: {
      meal: '',
      whichmeal: '',
      city: '',
      area1: [],
      area2: '',
      address: '',
      total: '0',
      checkini: false,
      checkini1: false,
      checkini2: false,
      checkini3: false,
      checkini4: false,
      checkini5: false,
      checkini6: false,
      checkini7: false,
      userInput: [],
      password: "",
      password1: "",
    },
    methods: {
      expect() {
        this.meal = 1
      },
      submitRegistration(){
        if(this.password!==this.password1){
          this.password1=''
          alert("密碼錯誤")
          
        }
        
     
      },
      one(v) {
        if (v == 1) {
          this.whichmeal = 1
        }
        if (v == 2) {
          this.whichmeal = 2
        }
        if (v == 3) {
          this.whichmeal = 3
        }
        if (v == 4) {
          this.whichmeal = 4
        }

      },
      takeout() {
        this.meal = 2
      },
      area() {
        if (this.city == '桃園市') {
          this.area1 = ['八德區', '大園區', '中壢區']

        }
        if (this.city == '台北市') {
          this.area1 = ['松山區', '中山區', '中正區']

        }
        if (this.city == '新北市') {
          this.area1 = ['板橋區', '新莊區', '三重區']

        }
      },
      addj() {
        if (this.area2 == '八德區') {
          this.address = '桃園八德餐廳 (大潤發1樓)'
        }
        if (this.area2 == '大園區') {
          this.address = '桃園大園餐廳 (大園農會對面)'
        }
        if (this.area2 == '中壢區') {
          this.address = '中壢餐廳'
        }
        if (this.area2 == '中山區') {
          this.address = '台北中山餐廳 (南京復興捷運站3號)'
        }
        if (this.area2 == '中正區') {
          this.address = '台北八德餐廳(數位未來店) (光華商場)'
        }
        if (this.area2 == '松山區') {
          this.address = '台北南京東二餐廳(數位未來店) (南京三民捷運站2號)'
        }
        if (this.area2 == '板橋區') {
          this.address = '板橋中山二餐廳 (近府中捷運站)'
        }
        if (this.area2 == '三重區') {
          this.address = '三重三和餐廳 (徐匯捷運站)'
        }
        if (this.area2 == '新莊區') {
          this.address = '新北市新莊區中正路516-3號'
        }

      },
      makeRed1: function () {
        this.isRed1 = !this.isRed1;
        if (this.isRed1 == true) {
          this.isRed = false;
        }
      },
      inc() {
        this.total++;
        if (this.total == 9) {
          this.total = 0
        }
      },
    },
    watch: {
      whichmeal: function (value) {
        console.log(this.whichmeal);
      }
    }
  });
</script>
<script>
  function GVerify(options) {
      this.options = {
          id: "",
          canvasId: "verifyCanvas", 
          width: "100", 
          height: "230", 
          type: "blend", 
          code: ""
      }

      if (Object.prototype.toString.call(options) == "[object Object]") {
          for (var i in options) {
              this.options[i] = options[i];
          }
      } else {
          this.options.id = options;
      }

      this.options.numArr = "0,1,2,3,4,5,6,7,8,9".split(",");
      // this.options.letterArr = getAllLetter();

      this._init();
      this.refresh();
  }

  GVerify.prototype = {
      version: '1.0.0',

      _init: function () {
          var con = document.getElementById(this.options.id);
          var canvas = document.createElement("canvas");
          this.options.width = con.offsetWidth > 0 ? con.offsetWidth : "150";
          this.options.height = con.offsetHeight > 0 ? con.offsetHeight : "230";
          canvas.id = this.options.canvasId;
          canvas.width = this.options.width;
          canvas.height = this.options.height;
          canvas.style.cursor = "pointer";
          // canvas.innerHTML = "您的浏览器版本不支持canvas";
          con.appendChild(canvas);
          var parent = this;
          canvas.onclick = function () {
              parent.refresh();
          }
      },

      refresh: function () {
          this.options.code = "";
          var canvas = document.getElementById(this.options.canvasId);
          if (canvas.getContext) {
              var ctx = canvas.getContext('2d');
          } else {
              return;
          }

          ctx.textBaseline = "middle";

          ctx.fillStyle = randomColor(180, 240);
          ctx.fillRect(0, 0, this.options.width, this.options.height);

          if (this.options.type == "blend") { 
              var txtArr = this.options.numArr.concat(this.options.letterArr);
          } else if (this.options.type == "number") {
              var txtArr = this.options.numArr;
          } else {
              var txtArr = this.options.letterArr;
          }

          for (var i = 1; i <= 4; i++) {
              var txt = txtArr[randomNum(0, txtArr.length)];
              this.options.code += txt;
              ctx.font = randomNum(this.options.height / 2, this.options.height) + 'px SimHei'; //随机生成字体大小
              ctx.fillStyle = randomColor(50, 160); 
              ctx.shadowOffsetX = randomNum(-3, 3);
              ctx.shadowOffsetY = randomNum(-3, 3);
              ctx.shadowBlur = randomNum(-3, 3);
              ctx.shadowColor = "rgba(0, 0, 0, 0.3)";
              var x = this.options.width / 5 * i;
              var y = this.options.height / 2;
              var deg = randomNum(-30, 30);
              ctx.translate(x, y);
              ctx.rotate(deg * Math.PI / 180);
              ctx.fillText(txt, 0, 0);
              ctx.rotate(-deg * Math.PI / 180);
              ctx.translate(-x, -y);
          }
          for (var i = 0; i < 4; i++) {
              ctx.strokeStyle = randomColor(40, 180);
              ctx.beginPath();
              ctx.moveTo(randomNum(0, this.options.width), randomNum(0, this.options.height));
              ctx.lineTo(randomNum(0, this.options.width), randomNum(0, this.options.height));
              ctx.stroke();
          }
          for (var i = 0; i < this.options.width / 4; i++) {
              ctx.fillStyle = randomColor(0, 255);
              ctx.beginPath();
              ctx.arc(randomNum(0, this.options.width), randomNum(0, this.options.height), 1, 0, 2 * Math.PI);
              ctx.fill();
          }
      },

      validate: function (code) {
          var code = code.toLowerCase();
          var v_code = this.options.code.toLowerCase();
          if (code == v_code) {
              return true;
          } else {
              this.refresh();
              return false;
          }
      }
  }

  /**生成字母数组**/
  function getAllLetter() {
      var letterStr = "";
      return letterStr.split(",");
  }

  /**生成一个随机数**/
  function randomNum(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
  }

  /**生成一个随机色**/
  function randomColor(min, max) {
      var r = randomNum(min, max);
      var g = randomNum(min, max);
      var b = randomNum(min, max);
      return "rgb(" + r + "," + g + "," + b + ")";
  }

  var verifyCode = new GVerify("v_container");
  document.getElementById("my_button").onclick = function () {
      var res = verifyCode.validate(document.getElementById("code_input").value);
      if (res) {
          pass;
      } else {
          alert("Wrong");
          document.getElementById('code_input').value = '';
          return false
      }
  }
</script>
<!-- https://www.kfcclub.com.tw/#tab-1 -->