<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
        type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://bpm.asecl.com.tw/HR/HRIS/favicon.ico" mce_href="/HR/HRIS/favicon.ico" rel="bookmark"
        type="image/x-icon">
    <link href="https://bpm.asecl.com.tw/HR/HRIS/favicon.ico" mce_href="/HR/HRIS/favicon.ico" rel="icon"
        type="image/x-icon">
    <link href="https://bpm.asecl.com.tw/HR/HRIS/favicon.ico" mce_href="/HR/HRIS/favicon.ico" rel="shortcut icon"
        type="image/x-icon">

    <title>Login</title>
    <style>
        html {
            height: 100%;
        }

        body {
            background-color: rgba(255, 255, 255, 0.979);
            background-attachment: fixed;
        }

        div {
            background-color: rgb(148, 148, 148);
            height: 300px;
            width: 400px;
            position: absolute;
            margin: -150px 0 0 -200px;
            top: 50%;
            left: 50%;
            border-radius: 10px;
        }

        #one {
            padding: 20px 30px 40px 50px;
        }
    </style>
</head>

<body>
    <div id="box-model2">
        <form method="post" action="{{url_for('login')}}" id="one">
            <input type="hidden" name="next" />
            <center>
                {% for message in get_flashed_messages() %}
                {% if message %}
                {{ message }}
                {% endif %}
                {% endfor %}
                <br>
                <br>
                <label for="user_id" class="col-2 offset-1 col-form-label">user_id：</label>
                <input type="text" class="form-control" id="user_id" name="user_id" placeholder="帳號" required>&emsp;
                <br>
                <br>
                <label for="password" class="col-2 offset-1 col-form-label">password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="密碼"
                    required>&emsp;
                <label id="v_container" class="col-2 offset-1 col-form-label" style="width: 100px;height: 100px;">
                    <!-- <div  style="width: 100px;height: 50px;"></div> -->
                </label>
                <br>
                <input type="text"  id="code_input" value="" placeholder="輸入驗證碼" required />
                <br>
                <br>
                <button id="my_button" type="submit" class="btn btn-dirty-purple" id="Button_Login">登入</button>
                <button class="btn btn-dirty-purple" id="Button_Login"><a href="{{url_for('member')}}">新建立帳號</a></button>
                <button class="btn btn-dirty-purple"><a href="{{url_for('forget')}}">忘記密碼</a></button>
            </center>
        </form>
        
    </div>
    <script>
        function GVerify(options) {
            this.options = {
                id: "",
                canvasId: "verifyCanvas", 
                width: "100", 
                height: "230", 
                type: "blend", 
                code: ""
            }

            if (Object.prototype.toString.call(options) == "[object Object]") {
                for (var i in options) {
                    this.options[i] = options[i];
                }
            } else {
                this.options.id = options;
            }

            this.options.numArr = "0,1,2,3,4,5,6,7,8,9".split(",");
            // this.options.letterArr = getAllLetter();

            this._init();
            this.refresh();
        }

        GVerify.prototype = {
            version: '1.0.0',

            _init: function () {
                var con = document.getElementById(this.options.id);
                var canvas = document.createElement("canvas");
                this.options.width = con.offsetWidth > 0 ? con.offsetWidth : "150";
                this.options.height = con.offsetHeight > 0 ? con.offsetHeight : "230";
                canvas.id = this.options.canvasId;
                canvas.width = this.options.width;
                canvas.height = this.options.height;
                canvas.style.cursor = "pointer";
                // canvas.innerHTML = "您的浏览器版本不支持canvas";
                con.appendChild(canvas);
                var parent = this;
                canvas.onclick = function () {
                    parent.refresh();
                }
            },

            refresh: function () {
                this.options.code = "";
                var canvas = document.getElementById(this.options.canvasId);
                if (canvas.getContext) {
                    var ctx = canvas.getContext('2d');
                } else {
                    return;
                }

                ctx.textBaseline = "middle";

                ctx.fillStyle = randomColor(180, 240);
                ctx.fillRect(0, 0, this.options.width, this.options.height);

                if (this.options.type == "blend") { 
                    var txtArr = this.options.numArr.concat(this.options.letterArr);
                } else if (this.options.type == "number") {
                    var txtArr = this.options.numArr;
                } else {
                    var txtArr = this.options.letterArr;
                }

                for (var i = 1; i <= 4; i++) {
                    var txt = txtArr[randomNum(0, txtArr.length)];
                    this.options.code += txt;
                    ctx.font = randomNum(this.options.height / 2, this.options.height) + 'px SimHei'; //随机生成字体大小
                    ctx.fillStyle = randomColor(50, 160); 
                    ctx.shadowOffsetX = randomNum(-3, 3);
                    ctx.shadowOffsetY = randomNum(-3, 3);
                    ctx.shadowBlur = randomNum(-3, 3);
                    ctx.shadowColor = "rgba(0, 0, 0, 0.3)";
                    var x = this.options.width / 5 * i;
                    var y = this.options.height / 2;
                    var deg = randomNum(-30, 30);
                    ctx.translate(x, y);
                    ctx.rotate(deg * Math.PI / 180);
                    ctx.fillText(txt, 0, 0);
                    ctx.rotate(-deg * Math.PI / 180);
                    ctx.translate(-x, -y);
                }
                for (var i = 0; i < 4; i++) {
                    ctx.strokeStyle = randomColor(40, 180);
                    ctx.beginPath();
                    ctx.moveTo(randomNum(0, this.options.width), randomNum(0, this.options.height));
                    ctx.lineTo(randomNum(0, this.options.width), randomNum(0, this.options.height));
                    ctx.stroke();
                }
                for (var i = 0; i < this.options.width / 4; i++) {
                    ctx.fillStyle = randomColor(0, 255);
                    ctx.beginPath();
                    ctx.arc(randomNum(0, this.options.width), randomNum(0, this.options.height), 1, 0, 2 * Math.PI);
                    ctx.fill();
                }
            },

            validate: function (code) {
                var code = code.toLowerCase();
                var v_code = this.options.code.toLowerCase();
                if (code == v_code) {
                    return true;
                } else {
                    this.refresh();
                    return false;
                }
            }
        }

        /**生成字母数组**/
        function getAllLetter() {
            var letterStr = "";
            return letterStr.split(",");
        }

        /**生成一个随机数**/
        function randomNum(min, max) {
            return Math.floor(Math.random() * (max - min) + min);
        }

        /**生成一个随机色**/
        function randomColor(min, max) {
            var r = randomNum(min, max);
            var g = randomNum(min, max);
            var b = randomNum(min, max);
            return "rgb(" + r + "," + g + "," + b + ")";
        }

        var verifyCode = new GVerify("v_container");
        document.getElementById("my_button").onclick = function () {
            var res = verifyCode.validate(document.getElementById("code_input").value);
            if (res) {
                pass;
            } else {
                alert("Wrong");
                document.getElementById('code_input').value = '';
                return false
            }
        }
    </script>
</body>