<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Other head elements go here -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px;
    /* Adjust as needed for spacing between items */
  }
</style>
<div style="float: right;">
  <h4><a href="/">回首頁</a></h4>



</div>
<div id='app'>
  <h2>訪視查詢</h2>
  <form action="" method="post">
    <span>查詢訪視時間:</span><input type='date' name='date'><br>
    <span>查詢學號:</span><input name='id'>
    <br><br><button type="submit" style="width:120px;height:40px;">查詢</button>
  </form>

</div>